.App {
  text-align: center;
}
.btn{
  width: 200px;
  height: 40px;
  font-weight: bold;
  font-size: large;
  margin-bottom: 40px;
}
th,td{
  border: 1px solid black ;
}
.picture{
  width: 100px;
}
.btn-delete{
  color:black;
  background-color: crimson;
  border-radius: 50px;
  font-weight: bold;
}
.deleteCell{
  width: 60px;
}